.dinoTable_wrapper {
  --color1: #38625a;
  --color2: #bebebe;
  --color3: #fff;
  --color4: #274540;

  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--color1);
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 10px;
  top: 10px;

  .cell:not(:first-child):not(:last-child) {
    border-left: solid 2px var(--color3);
  }

  .dinoTable_2_wrapper {
    max-height: 740px;
    overflow: overlay;

    .cell:not(:first-child):not(:last-child) {
      border-left: solid 2px var(--color3);
      cursor: pointer;
    }

    .row:hover {
      background-color: var(--color4);
    }
  }

  .dinoTable_2_wrapper::-webkit-scrollbar {
    width: 5px;
  }

  .dinoTable_2_wrapper::-webkit-scrollbar-track {
    background-color: var(--color1);
    border-radius: 20px;
  }

  .dinoTable_2_wrapper::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 30px;
  }

  .dinoTable_2_wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--color2);
  }

  .dinoTable {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    border: none;
  }

  .row {
    display: table-row;
    width: 100%;
  }

  .cell {
    display: table-cell;
    padding: 10px;
    overflow: hidden;
    vertical-align: middle;
  }

  .cell:first-child {
    width: 80px;
  }
  #row_header {
    border-bottom: solid 2px var(--color3);
    text-align: center;
    font-size: 20px;
    position: sticky;
    top: 0;
  }

  .cell:last-child {
    text-align: center;
    width: 150px;
    border-left: solid 2px var(--color3);
  }

  .header {
    font-weight: bold;
  }

  .dinoFull {
    position: absolute;
    max-width: 1200px;
    top: 0;
    height: 100%;
  }

  .dinoLeader {
    position: absolute;
    height: 100%;
    z-index: -1;
    transform: translate(13%, 0);
  }

  .dinoTail {
    position: absolute;
    height: 100%;
    transform: translate(-30%, 0);
    z-index: -1;
  }

  @media (max-width: 1600px) {
    .dinoTable_wrapper {
      max-width: 500px;
      margin: 0 auto;
    }

    .dinoLeader {
      display: none;
    }
  }

  @media (max-width: 940px) {
    .dinoTail {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .dinoTable_wrapper {
      max-width: 350px;
      margin: 0 auto;
    }

    .dinoTable_wrapper {
      border: none;
    }

    .row:first-child {
      font-size: 15px;
    }

    .cell:first-child {
      width: 80px;
    }

    .cell:last-child {
      width: 100px;
    }

    .cell:nth-child(2) {
      width: auto;
    }

    .row:first-child {
      padding-top: 5px;
    }
    .cell {
      flex: 1;
      padding: 4px;
      text-align: center;
      box-sizing: border-box;
    }

    .row header {
      padding: 0;
    }
  }
}
